.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--BLACK);
  color: var(--OFFWHITE);
  padding: 4rem;
}
.footer > .label {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  text-transform: uppercase;
}
.label_title {
  font-weight: 600;
}
.link, .link:visited {
  color: inherit;
}
