@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,600&display=swap');

:root {
  /* FONTS */
  --PRIMARYFONT: 'Sora', sans-serif;
  --SECONDARYFONT: 'Bitter', serif;

  /* COLORS */
  --OFFWHITE: #F7F7F7;
  --BLACK: #0D0E0B;
  --BRIGHTGREEN: #C8F377;
  --LIGHTBLUE: #3487FD;
  --LIGHTGREY: #F1F1F0;
}
 
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ANIMATIONS */
.fadein {
  animation: fadeIn 1.5s
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main {
  background-color: var(--OFFWHITE);
  color: var(--BLACK);
  font-family: var(--PRIMARYFONT);
  padding: 0 8rem;
  border: 0px 5px solid var(--BLACK);
}