@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,600;1,400;1,600;1,700&display=swap');

:root {
	/* FONTS */
	--PRIMARYFONT: "Sora", sans-serif;
	--SECONDARYFONT: "Bitter", serif;

	/* COLORS */
	--OFFWHITE: #f7f7f7;
	--BLACK: #0d0e0b;
	--BRIGHTGREEN: #c8f377;
	--LIGHTBLUE: #3487fd;
	--LIGHTGREY: #f1f1f0;
}

/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ANIMATIONS */
.fadein {
	animation: fadeIn 1.5s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.main {
	background-color: var(--OFFWHITE);
	color: var(--BLACK);
	font-family: var(--PRIMARYFONT);
	padding: 0 8rem;
	border: 0px 5px solid var(--BLACK);
}
.project-hero-img {
	width: 100%;
  height: 490px;
  display: flex;
  justify-content: center;
  position: relative;
  border-left: 5px solid var(--BLACK);
  border-right: 5px solid var(--BLACK);
}
.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
