.card {
  padding: 15px 20px;
  background-color: var(--OFFWHITE);
  border: 3px solid #DEDEDE;
  width: 30%;
  border-radius: 10px;
}
@media screen and (max-width:640px) {
  .card {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    line-height: 130%;
    margin-bottom: 1rem;
  }
}