.background {
  width: 100vw;
  height: 100vh;
  background-color: var(--OFFWHITE);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 500px;
  height: 500px;
  border: 5px solid var(--BLACK);
  box-shadow: 5px 5px var(--BLACK);
  background-color: var(--OFFWHITE);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: fixed;
  z-index: 1;
}